
form {
   
    text-align: center;
    
    }

input[type = button] {

	width: 5%;
    background-color: rgb(113, 198, 165);
    color: white;
    padding: 14px 10px;
    margin: 3px;
    border: none;
    border-radius: 2px;
    

}

input[type = button]:hover{
	background-color: rgb(124, 193, 243);

}

input[type = text] {
	
	width: 22%;
    padding: 14px 20px;
    margin: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: right;


}

#cbtn{
	width: 10.6%;
	background-color: rgb(50, 198, 230);
}